* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
  max-width: 100%;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.container {
  width: 96%;
  padding: 2rem;
}

nav ul {
  display: -webkit-flex;
  display: flex;
  /*flex-direction: row;*/
  justify-content: flex-end;
  /*flex-wrap: wrap;*/
}

nav li {
  padding: .5rem;
}

.item-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  flex-wrap: wrap;
}

.flex-item {
  /*flex-grow: 1;*/
  flex-shrink: 1;
  flex-basis: 33%;
  padding: 2%;
}

.flex-item p{
  width:100%;
  text-align:center:
  color: red;
}
