* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
  padding: .5rem;
}

/***************** NAV *****************/

nav {
  background-color: #3F7FBF;
  }

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
}

nav li {
  padding: .75rem;
}

@media (max-width: 600px) {
  nav li {
    display: block;
    border: 1px solid white;
    width: 100%;
    text-align: center;
  }
}

.fa-shopping-cart {
  color: white;
}

/**************** HERO *****************/

header img {
  padding-right: .5rem;
  padding-top: .5rem;
}

h1 {
    color: #3F7FBF;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Teko', sans-serif;
}

@media (max-width: 600px) {
  h1 {
  font-size: 1.9rem;
  text-align: center;
  }
}

h1 .logo-w {
  font-size: 3.75rem;
}

@media (max-width: 600px) {
  h1 .logo-w {
  font-size: 3.65rem;
  }
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo-break {
  display: block;
}

/**************** ASIDE ****************/

aside {
  padding-top: 1.5rem;
}

  input[type="submit"] {
  padding: .5rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-bottom: .75rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
  padding-bottom: .5rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 1.5rem;
}

@media (max-width: 600px) {
  .items {
    display: block;
    margin: 0 .5rem;
  }
}

.item-container {
  padding: .75rem;
  margin: .25rem;
  display: flex;
  flex-direction: column;
  flex-basis: 31.33333%;
  border: 1px solid #cccdd0;
  border-radius: 5px;
  align-items: center;
}

.item-container button {
  margin-left: .5rem;
  padding: .5rem;
  border-radius: 5px;
}
