* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: sans-serif;*/
  }

/*article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
      display:block;
}*/

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  /*padding-top: 70px;*/
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
  padding: .5rem;
}

/* TODO: size images manually so this is not necessary */
img {
  /*max-height: 15rem;*/
  /*max-width: 100%;*/
}

/***************** NAV *****************/

nav {
  background-color: #3F7FBF;
  }

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

nav ul {
  /*display: -webkit-flex;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav li {
  padding: .75rem;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  nav li {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.fa-shopping-cart {
  color: white;
}

/**************** HERO *****************/

header img {
  max-height: 7rem;
  padding-right: .5rem;
  padding-top: .5rem;
  float: left;
}

@media (max-width: 600px) {
  header img {
    max-height: 100%;
  }
}

h1 {
    color: #3F7FBF;
    font-size: 1.75rem;
    font-weight: bold;
    /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, Helvetica, sans-serif;*/
}

@media screen and (max-width: 600px) {
  h1 {
  font-size: 1.75rem;
  }
}

h1 .logo-w {
  font-size: 3.5rem;
  /*display: inline;*/
  /*color: blue;*/
}

@media screen and (max-width: 600px) {
  h1 .logo-w {
  font-size: 3.75rem;
  }
}

.logo-break {
  display: block;
}


/**************** ASIDE ****************/

aside {
  padding-top: 1.5rem;
  /*width: 20%;
  float: left;*/
}
  input[type="submit"] {
  padding: .5rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-bottom: .75rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
  padding-bottom: .5rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 1.5rem;
  /*float: left;*/
}

.item-container {
  padding: 1.25rem;
  margin: .5rem;
  display: flex;
  flex-direction: column;
  flex-basis: 31.33333%;
  border: 1px solid #cccdd0;
  border-radius: 5px;
  align-items: center;
}

.item-container button {
  margin-left: .5rem;
  padding: .5rem;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .items {
    display: block;
    margin: 0 .5rem;
  }
}

@media (max-width: 600px) {
  .item-container {
    padding: .25rem;
    margin: .25rem;
  }
}

@media (max-width: 1100px) {
  .item-container {
    padding: .25rem;
    margin: .25rem;
    flex-basis: 30%;
  }
}

@media (max-width: 1100px) {
  .item-container img {
    /*width: 200px;*/
  }
}
